.container {
    float: left;
    width: 380px;
}

button {
  display: inline-block;
  width: inherit;
  background-color: teal;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
    background-color: #ddf;
    color: black;
    font-weight: bold;
}
